<ng-include src="'app/layout/header.html'"></ng-include>
<div id="main" role="main">
<!-- RIBBON -->
<div id="ribbon">

	<!-- breadcrumb -->
	<ol class="breadcrumb">
		<li>Resumo</li>
	</ol>
	<!-- end breadcrumb -->

</div>
<!-- END RIBBON -->

<!-- MAIN CONTENT -->
<div id="content">
	<!-- row -->
<div class="row">
					<div class="col-sm-12">
						
						<div class="well">
							<h1><span class="semi-bold">Página não existe</span><br>
								<small class="text-danger slideInRight fast animated"><strong>A página que você esta procurando não existe!</strong></small></h1>
						</div>

						
					</div>
				</div>
	<!-- end row -->
</div>
<!-- END MAIN CONTENT -->
</div>
<ng-include src="'app/layout/footer.html'"></ng-include>