<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalSubTarefa">
    <div class="modal-dialog modal-lg" cg-busy="$ctrl.busy">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$ctrl.hide()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <strong>Sub-Tarefa</strong>
                </h4>
            </div>
            <div class="modal-body no-padding">

                <form class="smart-form" name="form" ng-submit="$ctrl.save()">
                    <fieldset>
                        <section>
                            <label class="label">Nome</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-list"></i>
                                <input class="focus" type="text" ng-model="$ctrl.data.nome" required>
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button ng-show="$ctrl.data.id && $ctrl.data.status != 'Concluído'" type="button" class="btn btn-success pull-left"
                            ng-click="$ctrl.concluir()">Concluir</button>
                        <button ng-show="$ctrl.data.id" type="button" class="btn btn-danger pull-left"
                            ng-click="$ctrl.remove()">Excluir</button>
                        <button type="button" class="btn btn-default" ng-click="$ctrl.hide()">Fechar</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Salvar</button>
                    </footer>
                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->