<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalTarefaMontagem">
	<div class="modal-dialog modal-lg" cg-busy="$ctrl.busy">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"> <strong>Arquivos - {{$ctrl.tarefa.nome}}</strong>
				</h4>
			</div>
			<div class="modal-body no-padding">

				<div class="smart-form">

					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="3">Documentos Enviados</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="!$ctrl.data.length">
									<td class="text-center text-bold">Nenhum documento cadastrado.</td>
								</tr>
								<tr ng-repeat="item in $ctrl.data">
									<td width="70">
										<a ng-href="{{$ctrl.fileUrl+$ctrl.tarefa.clienteId+'/projetos/'+$ctrl.tarefa.projetoId+'/documentos/'+item.arquivo}}"
											target="_blank" class="btn btn-xs btn-success">
											<i class="fa fa-search"></i>
										</a>
										<a href="" class="btn btn-xs btn-danger" ng-click="$ctrl.remove(item)">
											<i class="fa fa-remove"></i>
										</a>
									</td>
									<td>{{item.nome}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div ng-if="$ctrl.documentoProjeto.length" class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="3">Selecionar os Documentos da Montagem</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in $ctrl.documentoProjeto">
									<td width="20">
										<a ng-href="{{$ctrl.fileUrl+$ctrl.tarefa.clienteId+'/projetos/'+$ctrl.tarefa.projetoId+'/documentos/'+item.arquivo}}"
											target="_blank" class="btn btn-xs btn-success">
											<i class="fa fa-search"></i>
										</a>
									</td>
									<td>{{item.nome}}</td>
									<td width="30">
										<label class="checkbox">
											<input type="checkbox" ng-model="item.checked">
											<i></i></label>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<footer>
						<input type="file" id="tarefaMontagemFileInput" ng-files="$ctrl.addFile($files)" class="hide">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						<button type="button" class="btn btn-primary" ng-click="$ctrl.save()">
							Salvar
						</button>
						<button type="button" class="btn btn-success pull-left" ng-click="$ctrl.openFileInput()">
							Adicionar
						</button>
					</footer>
				</div>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->