<!-- Modal -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalFinanceiroTransferenciaForm">
	<div class="modal-dialog modal-lg" cg-busy="$ctrl.busy">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<strong>Transferência</strong>
				</h4>
			</div>
			<div class="modal-body no-padding" style="overflow: unset !important">
				<form class="smart-form" ng-submit="$ctrl.save()" name="form">
					<fieldset>
						<div class="row">
							<section class="col col-6">
								<label class="label">Origem</label>
								<select selector model="$ctrl.data.financeiroContaOrigemId" label-attr="nome"
									value-attr="id" options="$ctrl.contasList" placeholder="Escolha a origem..."
									require="true"></select>
							</section>
							<section class="col col-6">
								<label class="label">Destino</label>
								<select selector model="$ctrl.data.financeiroContaDestinoId" label-attr="nome"
									value-attr="id" options="$ctrl.contasList" placeholder="Escolha o destino..."
									require="true"></select>
							</section>
							<section class=" col col-6">
								<label class="label">Data</label>
								<label class="input">
									<i class="icon-prepend fa fa-calendar"></i>
									<input type="text" ng-model="$ctrl.data.data" ui-date-mask format-date required>
								</label>
							</section>
							<section class="col col-6">
								<label class="label">Valor</label>
								<label class="input">
									<i class="icon-prepend fa fa-usd"></i>
									<input class="focus" type="text" ng-model="$ctrl.data.valor" ui-money-mask required>
								</label>
							</section>
						</div>
					</fieldset>
					<footer>
						<button ng-show="$ctrl.data.id" type="button" class="btn btn-danger pull-left" ng-click="$ctrl.delete()">Excluir</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						<button ng-if="!$ctrl.data.id" type="submit" class="btn btn-primary"
							ng-disabled="form.$invalid">Transferir</button>
					</footer>
				</form>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->