<div ng-show="!$ctrl.data.contratadoValor.length" class="alert alert-warning no-margin" role="warning">
	Nenhuma <strong>CLÁUSULA DO CONTRATADO</strong> selecionada.
</div>
<div ng-show="$ctrl.data.contratadoValor.length" class="table">
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="20"></th>
				<th>Cláusulas do Contratado</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contratado in $ctrl.data.contratadoValor">
				<td>
					<a href="" class="btn btn-danger btn-sm" ng-click="$ctrl.remove($index)">
						<i class="fa fa-remove"></i>
					</a>
				</td>
				<td>
					<label class="select">
						<select selector model="contratado.propostaContratadoId" create="$ctrl.create(input, $index)"
							options="$ctrl.itemList" value-attr="id" label-attr="nome"
							placeholder="Escolha a cláusula do contratado..."
							dropdown-create-template="'selector/newItem'"
							dropdown-item-template="'selector/withDescription'" require="true"></select>
					</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="margin-10">
	<button ng-click="$ctrl.add()" type="button" class="btn btn-sm btn-labeled btn-primary">
		<span class="btn-label">
			<i class="fa fa-plus"></i>
		</span>Adicionar
</div>