<ng-include src="'app/layout/header.html'"></ng-include>
<div id="main" role="main">
	<div id="ribbon">
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>Financeiro</li>
			<li>Manutenção</li>
			<li>Plano de Contas</li>
		</ol>
	</div>
	<!-- MAIN CONTENT -->
	<div id="content" cg-busy="busy">
		<!-- row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="well padding-10">
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table class="table table-hover" ng-repeat="agrupamento in data">
									<thead>
										<tr>
											<th width="40" class="bg-color-blueDark txt-color-white">
												<div class="btn-group">
													<button class="btn dropdown-toggle btn-xs btn-warning"
														data-toggle="dropdown">
														<i class="fa fa-cog"></i>&nbsp;
														<i class="fa fa-caret-down"></i>
													</button>
													<ul class="dropdown-menu">
														<li>
															<a href="" ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento, 1, false)">
																<i class="fa fa-plus"></i> &nbsp; Novo</a>
														</li>
													</ul>
												</div>
											</th>
											<th class="bg-color-blueDark txt-color-white">
												[1x{{agrupamento.id}}] {{agrupamento.nome}}
											</th>
										</tr>
									</thead>
									<tbody ng-repeat="agrupamento1 in agrupamento.agrupamentos | agrupamento : false">
										<tr>
											<td width="40">
												<div class="btn-group">
													<button class="btn dropdown-toggle btn-xs btn-success"
														data-toggle="dropdown">
														<i class="fa fa-cog"></i>&nbsp;
														<i class="fa fa-caret-down"></i>
													</button>
													<ul class="dropdown-menu">
														<li>
															<a href="" ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento1, 2, false)">
																<i class="fa fa-plus"></i> &nbsp; Novo</a>
														</li>
														<li>
															<a href="" ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento1)">
																<i class="fa fa-pencil"></i> &nbsp;Alterar</a>
														</li>
														<li>
															<a href="" ng-click="remove(agrupamento1)">
																<i class="fa fa-close"></i> &nbsp;Excluir</a>
														</li>
													</ul>
												</div>
											</td>
											<td><strong>[2x{{agrupamento1.id}}] {{agrupamento1.nome}}</strong></td>
										</tr>

										<tr ng-show="(agrupamento1.agrupamentos | agrupamento : false).length">
											<td colspan="2" class="no-padding">
												<table class="table table-hover"
													ng-repeat="agrupamento2 in agrupamento1.agrupamentos | agrupamento : false">
													<tr>
														<td width="56"></td>
														<td width="40">
															<div class="btn-group">
																<button class="btn dropdown-toggle btn-xs btn-primary"
																	data-toggle="dropdown">
																	<i class="fa fa-cog"></i>&nbsp;
																	<i class="fa fa-caret-down"></i>
																</button>
																<ul class="dropdown-menu">
																	<li>
																		<a href=""
																			ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento2, 3, false)">
																			<i class="fa fa-plus"></i> &nbsp; Novo</a>
																	</li>
																	<li>
																		<a href="" ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento2)">
																			<i class="fa fa-pencil"></i>
																			&nbsp;Alterar</a>
																	</li>
																	<li>
																		<a href="" ng-click="remove(agrupamento2)">
																			<i class="fa fa-close"></i>
																			&nbsp;Excluir</a>
																	</li>
																</ul>
															</div>
														</td>
														<td colspan="2">
															<b>[3x{{agrupamento2.id}}] {{agrupamento2.nome}}</b>
														</td>
													</tr>
													<tr
														ng-repeat="agrupamento3 in agrupamento2.agrupamentos  | agrupamento : false">
														<td></td>
														<td></td>
														<td width="40">
															<div class="btn-group">
																<button class="btn dropdown-toggle btn-xs btn-default"
																	data-toggle="dropdown">
																	<i class="fa fa-cog"></i>&nbsp;
																	<i class="fa fa-caret-down"></i>
																</button>
																<ul class="dropdown-menu">
																	<li>
																		<a href="" ng-click="modal('FINANCEIRO_PLANO_CONTA_FORM_MODAL', agrupamento3)">
																			<i class="fa fa-pencil"></i>
																			&nbsp;Alterar</a>
																	</li>
																	<li>
																		<a href="" ng-click="remove(agrupamento3)">
																			<i class="fa fa-close"></i>
																			&nbsp;Excluir</a>
																	</li>
																</ul>
															</div>
														</td>
														<td><i>[4x{{agrupamento3.id}}] {{agrupamento3.nome}}</i></td>

													</tr>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- END MAIN CONTENT -->
</div>
<ng-include src="'app/layout/footer.html'"></ng-include>
<financeiro-plano-conta-form-component on-update='load()'></financeiro-plano-conta-form-component>